.container {
    max-width: 850px;
    margin: auto;
}
.loading {
    width: 100%;
    font-size: 40px!important;
    font-family: sans-serif;
    text-align: center;
    line-height: 100px!important;
    font-weight: bold!important;
}