.page {
    padding: 12px;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    box-sizing: border-box;
    flex-grow: 1;
    .title {
        font-weight: bold;
        text-align: center;
        font-size: 24px;
    }
}